*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
body {
    background-color:#0f0f0f;
    color: #eeeeee;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #000;
    position: fixed;
    width: 100%;
    max-height: 60px;
    top: 0;
    z-index: 1000;
}
header .logo img{
    width: 200px;
}
header .navlinks {
    list-style: none;
    display: flex;
}
header .navlinks li {
    margin-left: 30px;
}
header .navlinks li a {
    color: #00d4ff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}
header .navlinks li a:hover {
    color: #ff6347;
}
section {
    padding: 100px 40px 60px;
    margin-top: 60px;
}
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('https://images.unsplash.com/photo-1554048612-b6a482bc67e5?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y29tZXJjaWFsJTIwcGhvdG9ncmFwaHl8ZW58MHwwfDB8fHww') no-repeat center center/cover;
    align-items: center;
    height: 100vh;
    text-align: center;
}
#home h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #00d4ff;
}
#home p {
    font-size: 24px;
    margin-bottom: 40px;
}
#home .btn {
    padding: 15px 30px;
    background-color: #00d4ff;
    color: #1a1a1a;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
#home .btn:hover {
    background-color: #ff6347;
}

#about {
    padding: 60px 40px;
    text-align: center;
}
#about h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #00d4ff;
}

#about p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}
#about h4{
    font-size: 24px;
    margin-top: 40px;
    color: #00d4ff;
}
#about img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 18px;
    margin-top: 30px;
}
#services {
    padding: 60px 40px;
    background-color: #141414;
    text-align: center;
}
#services h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #00d4ff;
}
#services .services-list {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}
#services .services-list div {
    list-style: none;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: left;
    margin: 20px;
}
#services .services-list div h3 {
    color: #00d4ff;
    font-size: 20px;
    margin-bottom: 10px;
}
#services .services-list div p {
    font-size: 16px;
    line-height: 1.5;
}
#services .services-list div img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 15px;
}
#services .services-list div:hover {
    background-color: #ff6347;
    color: #1a1a1a;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

#contact {
    display:grid;
    grid-template-columns: 1fr;
    padding: 60px 40px;
    text-align: center;
}
#contact h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #00d4ff;
}
#contact p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}
#contact form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contact form input, #contact form textarea {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
}
#contact form button {
    padding: 10px 20px;
    background-color: #00d4ff;
    color: #1a1a1a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}
#contact form button:hover {
    background-color: #ff6347;
}

footer {
    background-color: #1a1a1a;
    text-align: center;
    padding: 20px 40px;
    color: #eeeeee;
}
footer p {
    font-size: 16px;
}
footer a {
    color: #00d4ff;
    text-decoration: none;
}
footer a:hover {
    color: #ff6347;
}
